@import "tailwindcss";

@theme {
  --color-background: #0A0B0D;
  --color-on-background: #FFFFFF;
  --color-background-secondary: #444; 
  --color-surface: #1A1731;
  --color-surface-secondary: #29244B;
  --color-on-surface: #FFFFFF;
  --color-primary: #F7C100;
  --color-on-primary: #0A0B0D;
  --color-primary-hover: #131CC4;
  --color-secondary: #1A1731;
}

#react-pact-map {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  all: initial;
}

.react-pact-map * {
  all: unset;
  all: revert-layer;
}

.react-pact-map {
  color: var(--color-on-background);
  font-family: "Open Sans", Arial, sans-serif;
}

.react-pact-map a {
  color: inherit;
  color: var(--color-on-primary);
}

.react-pact-map a:hover {
  color: inherit;
}

.map-marker-cluster {
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  font-weight: bold;
}