@import "tailwindcss";

@theme {
  --color-background: #1A1731;
  --color-on-background: #FFFFFF;
  --color-background-secondary: #29244B; /* Retrieved from input field background */
  --color-surface: #1A1731;
  --color-surface-secondary: #29244B; /* Retrieved from search result text background */
  --color-on-surface: #FFFFFF;
  --color-primary: #D7FAFF;
  --color-on-primary: #1A1731;
  --color-primary-hover: #131CC4;
  --color-secondary: #1A1731;
}

#react-pact-map {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

/* .react-pact-map {
  all: initial;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  display: block;
}

.react-pact-map * {
  all: unset;
  all: revert-layer;
} */

.map-marker-cluster {
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  font-weight: bold;
}